body{
    background-color: rgb(215, 209, 209);
}

#container{
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 3px 2px 4px 5px;
    margin: 0 auto ;
    margin-top: 170px;
    
    padding: 20px 10px 5px;
    display: flex;
    align-items: center;
    
}

#form_1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    
}

.input-group {
    position: relative;
    width: 200px;
    margin: 0 auto;
}

#form_1 input[type="text"]{
    width:100%;
    padding: 10px 5px 5px;
    font-size: 1em;
}

#form_1 input[type="text"]:hover{
    border-color: rgb(91, 91, 237);
    cursor: pointer;
    transition: .5s ease-in-out;
}

/* LABEL */
label{
    position: absolute;
    left: 5px;
    top: 10px;
    background-color: white;
    color: black;
    padding: 0 4px;
    transition: 350ms ease;
    pointer-events: none;
}

/* FLOATING */
input:focus + label,
input:not(:placeholder-shown) + label {  
    top: -10px;
    font-size: 0.75em;
    color: rgb(91, 91, 237);
}
#form_1 [type="submit"]{
    width: 100px;
    color: white;
    background-color: rgb(1, 113, 1);
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    font-size: 1em;
    margin: 0 auto;
    transition: 350ms ease-out ;
}
#form_1 [type="submit"]:hover{
    scale: 1.1;
    transition: 350ms ease-in ;
    background-color: rgb(4, 187, 4);
}
#form_1 [type="reset"]{
    
    width: 100px;
    color: white;
    background-color: rgb(218, 2, 2);
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    font-size: 1em;
    margin: 0 auto ;
    transition: 350ms ease-out ;
}
#form_1 [type="reset"]:hover{
    scale: 1.1;
    transition: 350ms ease-in ;
    background-color:rgb(255, 35, 35);
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.resultado{
    text-align: center;
    margin-top: 20px;
    transform: rotateY(10px);
    transition: 350ms ease-in-out;
}