body{
    background-color: rgb(215, 209, 209);
}

#container{
    background-color: white;
    width: 400px;
    border-radius: 4px;
    margin: 170px auto;
    padding: 20px 10px;
}

#form_1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.input-group {
    position: relative;
    width: 200px;
    margin: 0 auto;
}

#form_1 input[type="text"]{
    width:100%;
    padding: 10px 5px 5px;
    font-size: 1em;
    border: 1px solid #555;
    border-radius: 3px;
}

#form_1 input[type="text"].erro{
    border: 2px solid red !important;
}

/* LABEL */
label{
    position: absolute;
    left: 5px;
    top: 10px;
    background-color: white;
    padding: 0 4px;
    color: black;
    pointer-events: none;
    transition: .3s;
}

/* FLOATING LABEL */
input:focus + label,
input:not(:placeholder-shown) + label {  
    top: -10px;
    font-size: 0.75em;
    color: rgb(91, 91, 237);
}

.buttons{
    display: flex;
    justify-content: space-around;
}

#form_1 [type="submit"],
#form_1 [type="reset"]{
    width: 100px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 1em;
    transition: .3s;
}

#form_1 [type="submit"]{
    background-color: rgb(1, 113, 1);
}

#form_1 [type="submit"]:hover{
    transform: scale(1.1);
    background-color: rgb(4, 187, 4);
}

#form_1 [type="reset"]{
    background-color: rgb(218, 2, 2);
}

#form_1 [type="reset"]:hover{
    transform: scale(1.1);
    background-color: rgb(255, 35, 35);
}

.mensagem {
    text-align: center;
    color: red;
    min-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#resultado{
    text-align: center;
    margin-top: 15px;
    font-size: 1.2em;
}
